{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>Fotoradary</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqxAws1ARC9yq9wDDiZnPjmDh_EH9-bCA"></script>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>

    <link rel="stylesheet" href="{% static "css/map.css" %}">
</head>

<body>

    <div id="map"></div>
    <script src="{% static "js/map.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>
</html>






